@charset "UTF-8";
* 
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body
{
	font-family: 'Verdana', sans-serif;
	font-weight: 400;
	background-color: #ffa500;
	color: #0c08f1;
	line-height: 1.6;
	justify-content: center;
    align-items: center;
	text-align: center;
}

.contenido h1
{
	background-color: #c0c0c0;
	text-align: center;
	margin: 0 auto;
	width: 50%;
}