@charset "UTF-8";
* 
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	align-items: center;
}

.contenedor 
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 20px;
}


body, footer, head
{
	font-family: 'Verdana', sans-serif;
	font-size: 24px;
	font-weight: 400;
	background-color: #ffffff;
	color: rgb(0, 0, 0);
	line-height: 1.6;
	text-align: center;
}

.contenido h1
{
	background-color: #c0c0c0;
	text-align: center;
	margin: 0 auto;
	width: 50%;
}

hr 
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: auto;
    width: 50%;
    padding: 0;
}

.links ul a
{	
	list-style: none;
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-weight: normal;
}

footer a
{	
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-weight: bold;
}

footer a:hover 
{
	color: rgb(100, 0, 255);	
}

.links ul a:hover
{
	color: rgb(100, 0, 255);
}